<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @actor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @actor.lastname %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @actor.movies.each {|m| m.title} %>
</p>

<!-- <%= link_to 'Edit', actor_path(@actor) %> | -->
<%= link_to 'Back', actors_path %>
