<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @movie.title %>
</p>

<p>
    <strong>Director:</strong>
    <%= @movie.director %>
</p>

<p>
    <strong>Runtime in minutes:</strong>
    <%= @movie.runtime_in_minutes %>
</p>

<p>
    <strong>Description:</strong>
    <%= @movie.description %>
</p>

<p>
    <strong>Poster image url:</strong>
    <%= @movie.poster_image_url %>
</p>

<p>
    <strong>Release date:</strong>
    <%= formatted_date(@movie.release_date) %>
</p>

<h3>Actors staring in: <em><%= @movie.title %></em></h3>
<%@movie.actors.each do |actor| %>
  <p>
    <%=actor.full_name %>
  </p>
<%end%>
<p><%= link_to "Add an Actor", new_actor_path(@movie) %></p>
<h3>Reviews of
    <em><%= @movie.title %></em>: <%= @movie.review_average %>/10
</h3>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
  <% end %>
    <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
    <p>Please
    <%= link_to "log in", new_session_path %>
    to see reviews and add your own.</p>
<% end %>
<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Back to all movies', movies_path %>
